page {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.hori-box {
  margin-top: 50rpx;
  width: 600rpx;
  height: 600rpx;
  border: 1rpx white solid;
}

.compass-box {
  margin-top: 50rpx;
  width: 600rpx;
  height: 600rpx;
  border: 1rpx white solid;
}