page {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.tool-list {
    width: 678rpx;
    max-width: 678rpx;
    margin-left: 36rpx;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .tool-item {
        margin-top: 36rpx;
        flex-shrink: 0;
        width: 180rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pic {
            width: 160rpx;
            height: 160rpx;
            border-radius: 50%;
            background: white;
        }
        .text {
            margin-top: 18rpx;
            font-size: 30rpx;
        }
    }
    .tool-item-blank {
        margin-top: 18rpx;
        flex-shrink: 0;
        width: 180rpx;
    }
}

.wave-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    display: flex;
    flex-direction: column;
    .upper-block {
        width: 100%;
        flex-grow: 1;
        background-image: linear-gradient(150deg, #dec08c, #f36037);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .wave-block {
            filter: blur(5px 0);
            width: 100%;
            height: 200rpx;
        }
    }
    .lower-block {
        width: 100%;
        height: 100rpx;
        background: white;
    }
}